.App {
  text-align: center;
}

body{
  background-image: url("./imagenes/background-rick-and-morty.jpg");
  background-repeat: repeat-x repeat-y;
  background-size: auto;
  background-color: black;
  height: 100%;
  width: 100%;
  object-fit: cover;
}